.element__like {
  background: url('../../../images/Group.svg');
  width: 22px;
  height: 19px;
  border: none;
  transition: opacity .3s ease-in;
  cursor: pointer;
  margin-top: 7px;
  background-repeat: no-repeat;
}

.element__like:hover {
  opacity: .5;
}
