.footer__logo {
  max-width: 318px;
}

@media screen and (max-width: 890px) {
  .footer__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 600px) {
  .footer__logo {
    max-width: 282px;
    height: 13px;
    margin-left: 17px;
  }
}
