.popup__container {
  position: relative;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  background: #fff;
  box-sizing: border-box;
}

@media screen and (max-width: 803px) {
  .popup__container {
    max-width: 380px;
  }
}

@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px 25px;
  }
}
