.element__group {
  display: flex;
  justify-content: space-between;
  margin: 21px 15px 0 21px;
}

@media screen and (max-width: 890px) {
  .element__group {
    margin: 20px auto;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .element__group {
    margin: 21px 15px 0 21px;
    padding: 0;
  }
}


