.elements {
  display: flex;
  flex-wrap: wrap;
  padding: 51px 0 66px;
  gap: 20px 17px;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 910px) {
  .elements {
    max-width: 582px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 701px) {
  .elements {
    padding: 36px 0 48px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    max-width: 283px;
  }
}

@media screen and (max-width: 400px) {
  .elements {
    margin: 18px auto;
    gap: 20px;
  }
}