.profile-info__edit-button {
  background: url('../../../images/vector-pen.svg');
  border: 1px solid #fff;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 19px;
  margin-top: 37px;
  cursor: pointer;
  transition: opacity .3s ease-in;
}

.profile-info__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 792px) {
  .profile-info__edit-button {
    margin-top: 27px;
    margin-left: 11px;
  }

}

@media screen and (max-width: 500px) {
  .profile-info__edit-button {
    width: 20px;
    height: 20px;
    background-size: 9px;
  }
}

@media screen and (max-width: 322px) {
  .profile-info__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}