.popup__button-submit {
  background: #000;
  border-radius: 2px;
  color: #fff;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  height: 50px;
  margin-top: 21px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.popup__button-submit:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 800px) {
  .popup__button-submit {
    width: 300px;
    margin: 6px auto 0;
  }
}

@media screen and (max-width: 600px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
}
